body{
    
    
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#pie{
    height: 500px;
}
h2{
    font-weight: bold;
}
h3{
    font-style: italic;
}
h4{
    text-decoration: underline;
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 img{
    height: 100px;
    width: 100px;
    float: left;
    margin: 5px;
}
#tablabasica{
    border:double grey 3px;
    border-collapse: collapse;
    margin: 10px;
}
#tablabasica td,#tablabasica th{
    border:double grey 3px;
    box-shadow: 1px 1px  3px grey;
}
#tablacompleja{
    margin-top: 50px;
    border-collapse: collapse;
}
#tablacompleja tr,#tablacompleja th,#tablacompleja td{
    border:double grey 3px;
    box-shadow: 1px 1px  3px grey;
}
#anidartablas{
    border-collapse: collapse;
    box-shadow: 1px 1px  3px grey;
    margin-top: 50px;
}
#anidartablas th{
    border: solid grey 3px;
}
<<<<<<< HEAD
form{
    margin-top: 30px;
    padding: 10px;
}
form label{
    padding-right: 10px;
}


=======
hr{
    width: 100%;
    color: grey ;
}
#cajaframe{
    width: 300px;
    height: 200px;
    border: solid grey 2px;
    box-shadow: 1px 1px 2px grey;
    padding-left: 15px;
}
#contenedor{
    margin-bottom: 300px;
    width: 770px;
    height: 770px;
    margin: auto;
}
#cabecera{
    height: 50px;
    background-color: blueviolet;
}
#menu{
    background-color: green;
    float: left;
    height: 500px;
    width: 50px;
}
#contenido{
    background-color: grey;
    height: 500px;
    width: 500px;
}
#piepagina{
    background-color: orange;
    height: 30px;
}
.listades{
    list-style: none;
    display: flex;
}
.listades li{
    margin: 5px;
    font-weight: bold;
    font-size: x-large;
}
/*aqui creamos un spinner de carga para las pantallas */
#carga{
    width: 50px;
    height: 50px;
    border: solid 10px;
    border-color: red white white white;
    border-radius: 50%;
    animation: cargando 1.5s linear infinite;
}

@keyframes cargando{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

>>>>>>> develop
